/*body{
border: 1cm


}*/

body {
	text-align: left;
	margin: 20px 0 0 0;
	font-size: 1.00em;
	font-weight: normal;
}
abc{
	text-align: left;
	margin: 20px 0 0 0;
	font-size: 1.00em;
    font-weight: normal;
    padding: 138px;
}
ab{

	text-align: left;
	margin: 20px 0 0 0;
	font-size: 1.00em;
    font-weight: normal;
    padding: 3px;

}
xy{
    
	text-align: left;
	margin: 20px 0 0 0;
	font-size: 1.00em;
    font-weight: normal;
    padding: 10px;
}
publi{
    width 10vw;
    height 10vw;



}