body
{
    background-color: purple;
    margin: 0;
    padding: 0;
}

#navbar
{
    width: 100%;
    height: 10%;
    background-color: blueviolet;
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
    color: white;
    line-height: 3;
    word-spacing: 20;
    margin-top: 0;
}

#supmenu
{
    
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
    color: black;
    padding-top: 5px;
    display:flex;
    justify-content: flex-start;
    padding-left: 2%;
    font-size: 14px;
    margin-top: 0;
}

.supmenuitem{
    margin-left: 3px;
    padding: 3px;
    
}

#perfilLateral
{
    width: 20%;
    height: 350px;
    background-color: whitesmoke;
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 16px;
    margin-top: 2%;
    margin-left: 2%;
}

/*#pessoal
{
    background-color: purple;

}*/

.fotoPerfil{
    border-radius: 50%;
    border: 3px solid white;
}



